html {
    font-size: 20px;
}

@media (max-width: 420px) {
    html { font-size: 12px; }
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    background:#e6e6e6;
}

#wrapper {
    width: auto;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    background: #9c9c9c;
    width: 25rem;
    height: 30rem;
    border: #020202 0.25rem solid;
    padding: 1.5rem 1.5rem 2.2rem;
    border-radius: 0.5rem;
    box-shadow: 11px 15px 20px 11px #0000008f;
    -webkit-box-shadow: 11px 15px 20px 11px #0000008f;
    -moz-box-shadow: 11px 15px 20px 11px #0000008f;
}

.output {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: #000000 inset 0.1rem;
    align-items: flex-end;   
    height: 30%; 
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}


#previous_output {
    color: #585858;
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

#current_output { 
    color: #000000;
    font-size: 3rem;
    margin-right: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    align-self: flex-start
}

.right {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    align-self: flex-start;
}
.first_row, .second_row, .third_row, .fourth_row, .fifth_row { 
    display: flex;
    width: 100%;
}


#clear, #delete, #divide, #seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #comma, #dark_mode, #multiply, #substract, #add, #equal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.18rem;
    cursor: pointer;
    border: #000000 solid;
    border-radius: 0.3rem;
    background: #e6e6e6;
    user-select: none
}
#clear, #delete, #divide, #seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #comma, #dark_mode {
    width: 1.9em;
    height: 1.101em;
    font-size: 3.4rem;
}
#multiply, #substract, #add, #equal {
    width: auto;
    height: 0.985em;
    font-size: 3.8rem;

}
#equal {
    height: 8.15rem;
}
#clear{
    background: #ff6363;
}

.footer{
    display:flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    bottom: 0px;
    left: 0px;
    right: 0px;
}